<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="ice-cream"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Coletas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Pontos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
