<ion-header>
  <ion-toolbar>
    <ion-title>
      Coletas Efetuadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" class="welcome-card">
     
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><ion-icon name="calendar"></ion-icon> Data da Coleta: 18/09/2019</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
        <p>Material recolhido: Papel</p>  
        <p>Quantidade: 10KG</p>     
        <p>Código gerado: XPSP133U64</p>          
      </ion-card-content>
    </ion-card> 
    
    <ion-card color="light" class="welcome-card">     
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><ion-icon name="calendar"></ion-icon> Data da Coleta: 19/09/2019</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <p>Material recolhido: Metal</p>  
        <p>Quantidade: 5KG</p>     
        <p>Código gerado: XPS44153U64</p>        
      </ion-card-content>
    </ion-card> 
    
    <ion-card  color="light" class="welcome-card">
        <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><ion-icon name="calendar"></ion-icon> Data da Coleta: 20/09/2019</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
          <p>Material recolhido: Plástico</p>  
          <p>Quantidade: 5KG</p>     
          <p>Código gerado: XQW97953U64</p>      
      </ion-card-content>
    </ion-card>
    
</ion-content>
