
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ofertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" class="welcome-card">
      <img src="/assets/1.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Confira as ofertas do BigAmigão</ion-card-subtitle>
      </ion-card-header>

    </ion-card> 
    
    <ion-card color="light" class="welcome-card">
      <img src="/assets/2.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Confira as ofertas do Moniar</ion-card-subtitle>
      </ion-card-header>
    </ion-card> 
    
    <ion-card color="light" class="welcome-card">
      <img src="/assets/3.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Confira as ofertas do Super JB</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
</ion-content>
