<ion-header >
    <ion-toolbar >
      <ion-title >
        Pontos de Coleta
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <img src="/assets/csu.JPG" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Centro Social Urbano do Parque Dez</ion-card-subtitle>
         </ion-card-header>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Centro comunitário - Avenida Perimetral, 22</ion-label>
            <ion-button href="https://www.google.com/maps/place/Centro+Social+Urbano+do+Parque+Dez/@-3.1292694,-60.0406497,13z/data=!4m8!1m2!2m1!1scsu+maps!3m4!1s0x926c1a96f34365b5:0x6f6df11a31a5733d!8m2!3d-3.0831988!4d-60.0093047" fill="outline" slot="end">View</ion-button>
          </ion-item>
        <ion-card-content>
          <p>Aberto das 06:00 às 22:00h</p>       
        </ion-card-content>

      </ion-card> 
      
      <ion-card class="welcome-card">
        <img src="/assets/manauara.JPG" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Manauara Shopping</ion-card-subtitle>
       
          </ion-card-header>
          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Avenida Mário Ypiranga,1300 - Adrianópolis</ion-label>
              <ion-button href="https://www.google.com/maps/place/Manauara+Shopping+-+Av.+M%C3%A1rio+Ypiranga,+1300+-+Adrian%C3%B3polis,+Manaus+-+AM,+69057-002/@-3.1041022,-60.0129501,18z/data=!3m1!4b1!4m5!3m4!1s0x926c054d1925bdc5:0x6634393c56a4880d!8m2!3d-3.1042209!4d-60.0118552" fill="outline" slot="end">View</ion-button>
            </ion-item>
          <ion-card-content>
            <p>Aberto das 10:00 às 22:00h</p>       
          </ion-card-content>
      </ion-card>
      
      <ion-card class="welcome-card">
        <img src="/assets/uninorte.JPG" alt="" />
        <ion-card-header>
            <ion-card-subtitle>UNINORTE Universidade</ion-card-subtitle>
           
          </ion-card-header>
          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Av. Joaquim Nabuco, 1365 - Centro, Manaus - AM, 69020-030</ion-label>
              <ion-button href="https://www.google.com/maps/place/UniNorte+-+Unidade+11/@-3.1041021,-60.0293655,14z/data=!4m8!1m2!2m1!1suninorte!3m4!1s0x926c057bbbabc069:0xadb427f1fc368dd0!8m2!3d-3.1329263!4d-60.0179018" fill="outline" slot="end">View</ion-button>
            </ion-item>

          <ion-card-content>
            <p>Aberto das 08:00 às 22:00h</p>       
          </ion-card-content>
      </ion-card>
      
  </ion-content>


  